
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    text-align: center;
    margin-top: 1vh;
    color: blue;
    font-size: 25px;
    font-family: monospace;
}
nav{
    
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: 20px;
}
nav ul {
    list-style-type: none;
    margin-top: 1vh;
    overflow: hidden;
    display: flex;
}
nav ul li a {
    display: flex;
    color: rgb(10, 0, 0);
    padding-bottom: 1vh;
    margin-left: 50px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
    color: red;
}
.home-content {
    margin-top: 20px;
    margin-left: 20px;

}

.home-content h3 {
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    font-size: 18px;
}
.section{
    margin-top: 5px;
    margin-left: 10px;
}
.section2{
    margin-right: 40%;
}
.object{
    text-decoration: underline;
    font-size: 19px;
    margin-left: 10px;
    
}
.objective{
    font-size: 17px;
    margin-left: 30px;
    margin-top: 10px;
}
.artical{
    font-size: 17px;
}
.image{
    height: 20vh;
    clip-path: circle(45%);
    transition: 1.5s ease;
    filter: brightness(90%);
    width: 130px;
    margin-top: 10px;
    height: 150px;
    padding-left: 10px;
}
.image:hover{
    clip-path: circle(100%);
    border-radius: 10px;
}
.photo{
    width: 150px;
    height: 200px;
    margin-top: -250px;
    float: right;
    border: 2px solid black;
    margin-right: 10px;
    border-radius: 20px;
}
.Education{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}
.edu{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
}
.edu:hover{
    box-shadow: 2px 1px rgb(0, 0, 0);
    border-radius: 10px;
}
#Degree{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}
#Intermediate{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}
#SSC{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}
.brack{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px black solid;
}
.project{
    margin-left: 30px;
}
.contant{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.imgsocial{
    margin-left: 25px;
}
.socialimg{
    margin-top: 10px;
    height: 35px;
}
#personal{
    float: right;
    margin-left: 350px;
    margin-top: -80px;
}
.dont{
    clip-path: circle(40%);
    height: 500px;
    margin-left: 100px;
}
.container{
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.para{
    font-size: 20px;
    margin-top: 60px;
    margin-left: 0px;
    font-family: cursive;
}
.tv{
    margin-left: 100px;
    height: 200px;
}
.tv:hover{
    cursor: pointer;
    border-radius: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 1, 0.7);
}
.modal img {
    display: block;
    margin-left: 35%;
    margin-top: 100px;
    border-radius: 10px;
    width: 350px;
}
.close {
    color: #fff;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
}